@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: 'Radio Grotesk';
  src: url('/fonts/radio-grotesk/RadioGrotesk-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}



@custom-variant dark (&:is(.dark *));
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
 --font-manrope: 'Manrope';
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --animate-shimmer-slide: shimmer-slide var(--speed) ease-in-out infinite alternate;
  --animate-spin-around: spin-around calc(var(--speed) * 2) infinite linear;
  @keyframes shimmer-slide {
  to {
    transform: translate(calc(100cqw - 100%), 0);
    }
  }
  @keyframes spin-around {
  0% {
    transform: translateZ(0) rotate(0);
    }
  15%, 35% {
    transform: translateZ(0) rotate(90deg);
    }
  65%, 85% {
    transform: translateZ(0) rotate(270deg);
    }
  100% {
    transform: translateZ(0) rotate(360deg);
    }
  }
  --animate-shine: shine var(--duration) infinite linear
;
  @keyframes shine {
  0% {
    background-position: 0% 0%;
    }
  50% {
    background-position: 100% 100%;
    }
  to {
    background-position: 0% 0%;
    }
  }}

body {
  background-color: #01000C;
  @apply text-white;
}

@keyframes updown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.Button{
font-size: 9.76px;
font-weight: 700;
letter-spacing: 1px;
line-height: 22.8px;

}

.Heading1{
 font-family: 'Radio Grotesk';
 font-size: 52px;
 font-weight: 400;
 
}
.Heading2{
 font-family: 'Radio Grotesk';

 font-size:43px;
 font-weight: 400;
 line-height: 45px;
}
.Heading3{
 font-family: 'Radio Grotesk';
 font-size: 35px;
 font-weight: 400;
 
}
.Heading4{
 font-family: 'Radio Grotesk';
 font-size: 22.5px;
 font-weight: 200;
 line-height: 26px;
}

.border-class{
   border: '1px solid #FFFFFF12',
}

.subtext1{
  font-size: clamp(9px, 2vw, 13.1px);
   font-weight: 200;
   color: white;
   letter-spacing: 0.6px;
  
}
.subtextpt2 {
  font-size: clamp(11px, 2vw, 13.1px);
  font-weight: 600;
  color: white;


}
.subtext2{
  font-size: clamp(10px, 2vw, 16px);
  font-weight: 600;
  color: white;

}
.subtext3{
  font-size: 16.25px;
   font-weight: 600;
   color: white;

}

.subtext4{
  font-size: 15.27px;
   font-weight: 300;
   color: white;
 letter-spacing: 0.4px;
}
.GetStarted{
font-size: clamp(16px, 2vw, 24.4px);
letter-spacing: 0.4px;
font-weight:800 ;
letter-spacing: -0.4px;
}


.num1{
 font-size: clamp(30px, 6vw, 60px);
 font-weight: 500;
}

.percentage{
  font-family: var(--font-manrope);
   font-size: 43px;
 font-weight: 400;
 letter-spacing: -2px;
 
}
.num2{
  font-size: 60px;
  font-weight: 800;
}
.gradient-mask-text {
  background: linear-gradient(93.89deg, #1F0B46 0.91%, #DEBFFF 11.47%, #5A27B1 55.16%, #BF84F9 71.42%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-white-text {
  background: linear-gradient(95.14deg, #50525F 4.45%, #FFFFFF 29.02%, #FFFFFF 60.85%, #9698A6 95.61%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  
  -webkit-text-fill-color: transparent;
}

.font-radio {
  font-family: 'Radio Grotesk', sans-serif;
}

.animate-updown {
  animation: updown 3s ease-in-out infinite;
}
.bottom-gradient-border {
  border-bottom: 12px solid;
  border-image-slice: 1;
  border-width: 0 0 12px 0;
  border-image-source: linear-gradient(
    90deg,
    rgba(17, 19, 20, 0) 15.05%,
    #BF84F9 48.26%,
    rgba(17, 19, 20, 0) 79.4%
  );
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

